*
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body
{
	margin: 0;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

#error
{
	display: none;
}

#content
{
	display: none;
}

	#content.running
	{
		display: block;
		cursor: none;
	}

	#content.paused
	{
		display: block;
	}

#debug
{
	padding: 0;
	z-index: 10000;
	background-color: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1000px;
	height: 20px;
	color: black;
}

	#debug ul
	{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

		#debug ul li
		{
			padding: 0px 5px;
			float: left;
		}

#credits
{
	padding: 0;
	z-index: 10000;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
	color: white;
	font-family: sans-serif;
	display: none;
}

	#credits a, #credits a:visited, #credits a:active
	{
		color: white;
	}

	#credits .left
	{
		float: left;
	}

	#credits .right
	{
		float: right;
	}

#playagain
{
	padding: 0;
	z-index: 10000;
	background-color: rgba(0,0,255,0.5);
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -15em;
	width: 30em;
	height: 7em;
	text-align: center;
	display: none;
	-moz-border-radius: 1em;
	border-radius: 1em;
	padding-top: 1em;
}

	#playagain a, #playagain a:visited, #playagain a:active
	{
		color: orange;
		text-decoration: none;
		font-weight: bold;
		font-family: sans-serif;
		font-size: 5em;
	}

#stopgame
{
	padding: 0;
	z-index: 10000;
	background-color: rgba(255,0,0,0.5);
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 7em;
	height: 2em;
	text-align: center;
	-moz-border-radius: 1em;
	border-radius: 1em;
	padding-top: 0.0em;
}

	#stopgame a, #stopgame a:visited, #stopgame a:active
	{
		color: #AA0000;
		text-decoration: none;
		font-weight: bold;
		font-family: sans-serif;
		font-size: 1.5em;
	}