*
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

#error
{
	display: none;
}

#content
{
	display: none;
	cursor: none;
}

	#content.running
	{
		display: block;
	}


#debug
{
	padding: 0;
	z-index: 10000;
	background-color: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1000px;
	height: 20px;
	color: black;
}
	#debug ul
	{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

		#debug ul li
		{
			padding: 0px 5px;
			float: left;

		}